:root {
  --black-color: #272a31;
  --red-color: #ec5242;
  --gray-color: #d3d3d3;
}

@font-face {
  font-family: "Cocogoose";
  src: url("../fonts/Cocogoose-Pro-trial.ttf") format("truetype");
}

.header-section {
  background: url('../img/00.jpg');
  height: 5em;
}

.hamburger-icon {
  padding-left: 1em;
  padding-top: 1em;
}

.hamburger-spans {
  display: block;
  width: 4em;
  margin-bottom: 0.5em;
  height: 0.5em;
  background-color: var(--black-color);
  margin-left: 2em;
}
